<div>이름 : <span th:text="${customer.name}"></span></div>
<div>아이디 : <span th:text="${customer.username}"></span></div>
<div>이메일 : <span th:text="${customer.email}"></span></div>
<div>주소 : <span th:text="${customer.address}"></span></div>
<div>전화번호 : <span th:text="${customer.tel}"></span></div>

<a href="/customer/login" class="inline-flex" sec:authorize="isAnonymous()">로그인</a>
<a href="/customer/join" class="inline-flex" sec:authorize="isAnonymous()">회원가입</a>
<a href="javascript: document.logoutForm.submit();" class="inline-flex" sec:authorize="isAuthenticated()">로그아웃</a>.
<form name="logoutForm" th:action="@{/customer/logout}" method="post" hidden></form>
<a href="/customer/modify" class="inline-flex" sec:authorize="isAuthenticated()">정보수정</a>
<a href="/customer/modifyPassword" class="inline-flex" sec:authorize="isAuthenticated()">비밀번호 변경</a>
<a href="/" class="inline-flex">홈으로</a>


